:root {
  --bg-main: #0f172a;
  --bg-sidebar: #020617;
  --bg-card: #020617;
  --primary: #38bdf8;
  --text-main: #e5e7eb;
  --text-muted: #94a3b8;
}

html[data-theme="light"] {
  --bg-main: #f8fafc;
  --bg-sidebar: #ffffff;
  --bg-card: #ffffff;
  --primary: #2563eb;
  --text-main: #020617;
  --text-muted: #475569;
}
